@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

.content {
    position: relative; /* Needed to position images inside this container */
/*     background: #535E6B url('/images/f1.webp') no-repeat center center; 
    background-size: cover; */
    color: #CBBAA1;
    background-color: #343d48;
    margin: 0;
    height: auto;
    padding-bottom: 4rem;
}


/* Positioning the texts above the images */
.texts {
    position: relative;
    z-index: 1; /* Ensures text is above the images */
    max-width: 1200px;
    margin: auto;
    padding-top: 10rem;
    padding-bottom: 6rem;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 1rem;
    text-align: left;
}

.texts h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 3rem;
    text-align: left;
    margin: 0;
    padding-bottom: 4rem;
    padding-left: 1rem;
}

.texts p {
    padding-left: 25%;
    padding-bottom: 2rem;
}

.texts ul {
    color: #CBBAA1;
    text-decoration: none;
    padding-left: 25%;
    list-style: none; /* Remove default list styling */
}

.linksList li {
    margin-bottom: 2rem; /* Add space between list items */
}

.subLink {
    color: #CBBAA1;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 1rem;
    text-decoration: underline;
}

/* Positioning the images inside .content */
.topRightImg {
    position: absolute;
    top: -1rem;
    right: 0;
    z-index: 0; /* Behind the .texts which has z-index:1 */
    opacity: 0.05; /* Adjust opacity if desired */
}

.bottomLeftImg {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    opacity: 0.2; /* Adjust opacity if desired */
}

@media (max-width: 900px) {
    .texts p {
        padding-left: 4rem;
        padding-bottom: 2rem;
    }

    .texts ul {
        padding-left: 6rem;
        line-height: 170%;
        padding-right: 1rem;
    }
}

