@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

.main {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50vh;
    background-color: #CBBAA1;
    background-size: cover;
    background-position: center;
    background-image: url('/images/equipo.webp');
}

/* Animate the headerContainer with fadeInUp */
.headerContainer {
    background-color: #535E6B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 900px;
    width: 100%;
    padding: 4rem;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-in forwards;
}

.header h1 {
    font-family: 'Inter', sans-serif;
    color: #CBBAA1;
    font-weight: 300;
    font-size: 4rem;
    text-align: left;
    width: 100vw;
    margin: 0;
    max-width: 40vw;
}

.buttonContainer {
    width: 55vw;
    transform: translateX(-20%);
    display: flex;
    justify-content: flex-end;
}

.headerButton {
    background-color: #BDC1C6;
    color: #535E6B;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: .7rem;
    text-align: right;
    padding: 1rem;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    text-transform: uppercase;
}

.headerButton:hover {
    text-decoration: underline;
}

.logo {
    padding: 2rem;
    position: relative;
}

.homeContent {
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
    padding-bottom: 4rem;
}

.headerText {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 1rem;
    color: #ffffff;
    line-height: 2.2rem;
    max-width: 100%;
    padding-top: 2rem;
    line-height: 2rem;
}

.p1 {
    transform: translateY(-50%);
    padding-left: 8rem;
}

.p1 h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
    color: #535E6B;
    line-height: 2.2rem;
}

.textContainer {
    width: 60%;
}

.p2 {
    display: flex;
    justify-content: flex-end;
    padding-top: 6rem;
    padding-bottom: 4rem;
}

.p2textContainer {
    width: 60%;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
    color: #535E6B;
    line-height: 2.5rem;
}

.homeTitle h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 4rem;
    color: #535E6B;
    margin: 0;
    padding-top: 4rem;
}

.horizontalLine {
    width: 100%;
    height: .5px;
    background-color: #ffffff90;
    border: none;
    margin-top: 2rem;
    align-self: flex-start;
    margin-left: 0;
}

.homeLink h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 4rem;
    color: #535E6B;
    margin: 0;
    text-decoration: underline;
    padding-top: 4rem;
    padding-bottom: 8rem;
    cursor: pointer;
    max-width: 20vw;
}

.contentTitles {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 3.5rem;
    color: #CBBAA1;
    margin: 0;
    padding-top: 2rem;
}

.imageContainer {
    position: relative; 
    width: 100%;
    height: auto;
}

/* Background image behind everything else */
.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    object-fit: cover;
    z-index: 0; /* behind teamGrid */
    opacity: .4;
}

/* teamGrid above the bgImage */
.teamGrid {
    position: relative;
    z-index: 1;
    max-width: 1200px;
    margin: auto;
    padding-bottom: 4rem;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-in forwards 0.5s;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 2rem;
}

.gridItem {
    padding: 2rem;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.name {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: .9rem;
    color: #535E6B;
    margin: 1rem 0;
    position: relative;
}

.position {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: .8rem;
    color: #535E6B;
    margin: 1rem 0;
}

.linkedinLink {
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
    color: #CBBAA1;
    text-decoration: none;
    cursor: pointer;
}

.linkedinLink:hover {
    text-decoration: underline;
}

/* .imageWrapper: show on hover */
.imageWrapper {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 10px); /* Start slightly below */
    opacity: 0;
    transition: opacity 0.3s ease-in, transform 0.3s ease-in;
    max-width: 200px;
    width: 100%;
    z-index: 2; /* Above teamGrid and bgImage */
    text-align: left;
    margin-top: 10px;
}

.gridItem:hover .imageWrapper {
    opacity: 1;
    transform: translate(-82%, 100%); /* Move image up by 10px */
    z-index: 3;
}

.image {
    width: 100%;
    max-width: 200px;
    height: auto;
    z-index: 4;
}

/* Keyframes for fadeInUp animation */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1200px) {
    .logoContainer img {
        width: 400px !important;
        height: 543px !important;
    }

    .headerContainer {
        background-color: #535E6B;
                
    }

    .header h1 {
        font-size: 3rem;
        text-align: left;
        max-width: 90vw;
    }

    .headerText {
        font-size: 1rem;
        line-height: 2rem;
        padding-top: 1.5rem;
        line-height: 1.5rem;
    }
}

@media (max-width: 768px) {
    .gridContainer {
        grid-template-columns: repeat(2, 1fr);
    }

    .header h1 {
        font-size: 2rem;
        text-align: left;
        max-width: 90vw;
    }

    .homeTitle h3 {
        font-size: 3rem;
        padding-top: 4rem;
        padding-left: 1rem;
    }
}

@media (max-width: 900px) {
    .headerContainer {
        max-width: 80%;
    }

    .logoContainer {
        display: none;
    }

    .headerText {
        max-width: 90%;
        padding-top: .5rem;
        line-height: 2rem;
    }

    .homeContent {
        padding: 2rem;
        padding-bottom: 2rem;
    }

    .contentTitles {
        font-size: 3.5rem;
        color: #CBBAA1;
        margin: 0;
        padding-top: 0rem;
    }

    .homeLink h3 {
        max-width: 90vw;
    }
}

@media (max-width: 500px) {
    .gridContainer {
        grid-template-columns: repeat(1, 1fr);
    }

    .horizontalLine {
        margin-top: 1rem;
    }
}

@media (max-width: 425px) {
    .header {
        height: 55vh;
    }

    .headerContainer {
        padding: 1rem;
    }

    .header h1 {
        font-size: 1.5rem;
    }

    .headerText {
        font-size: .8rem;
        line-height: 1.2rem;
        padding-top: 1.5rem;
        line-height: 1.5rem;
    }

    
}

@media (max-width: 320px) {

    .header {
        height: 65vh;
    }

    .headerText {
        line-height: 1.2rem;
        padding-top: 1rem;
        line-height: 1.2rem;
    }

    .headerContainer {
        padding: .5rem;
    }

    .contentTitles {
        font-size: 3rem;
        padding-top: 0rem;
    }

    .p2textContainer {
        width: 90%;
        font-size: 1rem;
        line-height: 1.8rem;
    }

    .p2 {
        padding-top: 2rem;
        padding-bottom: 1rem;
    }

    .homeLink h3 {
        font-size: 2rem;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
}
