@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

.main {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 65vh;
    background-color: #CBBAA1;
    background-size: cover;
    background-position: center;
}

.headerContainer {
    background-color: #535E6B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    width: 100%;
    padding: 4rem;
}

.header h1 {
    font-family: 'Inter', sans-serif;
    color: #CBBAA1;
    font-weight: 300;
    font-size: 4rem;
    text-align: left;
    width: 70vw;
    margin: 0;
    max-width: 10vw;
}

.buttonContainer {
    width: 55vw;
    transform: translateX(-20%);
    display: flex;
    justify-content: flex-end;
}

.headerButton {
    background-color: #BDC1C6;
    color: #535E6B;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: .7rem;
    text-align: right;
    padding: 1rem;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    text-transform: uppercase;
}

.headerButton:hover {
    text-decoration: underline;
}

.logo {
    padding: 2rem;
    position: relative;
}

.logoContainer {
    display: flex;
    justify-content: flex-end;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    transform: translateY(-70%);
    margin-bottom: -30rem;
}

.homeContent {
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
    padding-bottom: 4rem;
}

.headerText {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 1rem;
    color: #ffffff;
    line-height: 2.2rem;
    max-width: 55%;
    padding-top: 2rem;
    line-height: 2rem;
}

.p1 {
    transform: translateY(-50%);
    padding-left: 8rem;
}

.p1 h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
    color: #535E6B;
    line-height: 2.2rem;
}

.textContainer {
    width: 60%;
}

.p2 {
    display: flex;
    justify-content: flex-end;
    padding-top: 6rem;
    padding-bottom: 4rem;
}

.p2textContainer {
    width: 60%;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
    color: #535E6B;
    line-height: 2.5rem;
}

.homeTitle h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 4rem;
    color: #535E6B;
    margin: 0;
    padding-bottom: -10rem;
}

.horizontalLine {
    width: 50%;
    height: .5px;
    background-color: #ffffff90;
    border: none;
    margin-top: 2rem;
    align-self: flex-start;
    margin-left: 0;
}

.homeLink h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 4rem;
    color: #535E6B;
    margin: 0;
    text-decoration: underline;
    padding-top: 4rem;
    padding-bottom: 8rem;
    cursor: pointer;
    max-width: 20vw;
}

.contentTitles {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 3.5rem;
    color: #CBBAA1;
    margin: 0;
    padding-top: 2rem;
}

.teamGrid {
    max-width: 1200px;
    margin: auto;
    padding-bottom: 4rem;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 2rem;
}

.gridItem {
    padding: 2rem;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.name {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: .9rem;
    color: #535E6B;
    margin: 1rem 0;
    position: relative;
}

.position {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: .8rem;
    color: #535E6B;
    margin: 1rem 0;
}

.linkedinLink {
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
    color: #CBBAA1;
    text-decoration: none;
    cursor: pointer;
}

.linkedinLink:hover {
    text-decoration: underline;
}

.imageWrapper {
    display: none;
    width: 100%;
    text-align: left;
    margin-top: 10px;
    opacity: 0;
    transform: translateY(-10px);
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.gridItem:hover .imageWrapper,
.gridItem.clicked .imageWrapper {
    display: block;
    animation-name: fadeInSlideUp;
}

.gridItem.clicked .imageWrapper {
    animation-name: fadeOutSlideDown;
}

.image {
    width: 100%;
    max-width: 200px;
    height: auto;
}

@keyframes fadeInSlideUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOutSlideDown {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(10px);
    }
}

@media (max-width: 1200px) {
    .logoContainer img {
        width: 400px !important;
        height: 543px !important;
    }

    .headerContainer {
        background-color: #535E6B;
        max-width: 700px;
    }

    .logoContainer {
        display: flex;
        justify-content: flex-end;
        max-width: 1200px;
        width: 100%;
        margin: auto;
        transform: translateY(-80%);
        margin-bottom: -30rem;
    }
}

@media (max-width: 768px) {
    .gridContainer {
        grid-template-columns: repeat(2, 1fr);
    }

    .imageWrapper {
        display: none;
    }

    .gridItem.clicked .imageWrapper {
        display: block;
    }
}



@media (max-width: 900px) {

    .headerContainer {
        max-width: 500px;
    }

    .logoContainer {
        display: none;
    }

    .headerText {
        max-width: 90%;
        padding-top: .5rem;
        line-height: 2rem;
    }

    .homeContent {
        padding: 2rem;
        padding-bottom: 2rem;
    }

    .contentTitles {
        font-size: 3.5rem;
        color: #CBBAA1;
        margin: 0;
        padding-top: 0rem;
    }

    .homeLink h3 {
        max-width: 90vw;
    }
}

@media (max-width: 500px) {
    .gridContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}


@media (max-width: 425px) {
    .header {
        height: 63vh;
    }
}

@media (max-width: 320px) {
    .header {
        height: 58vh;
    }

    .header h1 {
        font-size: 2.5rem;
    }

    .headerContainer {
        padding: 2rem;
    }

    .contentTitles {
        font-size: 3rem;
        padding-top: 0rem;
    }

    .p2textContainer {
        width: 90%;
        font-size: 1rem;
        line-height: 1.8rem;
    }

    .headerText {
        max-width: 100%;
        padding-top: .5rem;
        line-height: 1.8rem;
    }

    .p2 {
        padding-top: 2rem;
        padding-bottom: 1rem;
    }

    .homeLink h3 {
        font-size: 2rem;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
}
