@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

.content {
    background-color: #535E6B;
    color: #CBBAA1;
    margin: 0;
    height: auto;
    padding-bottom: 4rem;
}

.texts {
    max-width: 1200px;
    margin: auto;
    padding-top: 10rem;
    padding-bottom: 6rem;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 1rem;
    text-align: left;
}

.texts h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 3rem;
    text-align: left;
    margin: 0;
    padding-bottom: 4rem;
    padding-left: 1rem;
}

.texts p {
    padding-left: 25%;
    padding-bottom: 2rem;
    line-height: 1.8rem;
}

.texts ul {
    color: #CBBAA1;
    text-decoration: none;
    padding-left: 25%;
    list-style: none; /* Remove default list styling */
}

.linksList li {
    margin-bottom: 2rem; /* Add space between list items */
}

.subLink {
    color: #CBBAA1;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 1rem;
    text-decoration: underline;
}
