@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

.content {
    background-color: #535E6B;
    margin: 0;
    height: auto;
}

.texts {
    max-width: 1200px;
    margin: auto;
    padding-top: 10rem;
    padding-bottom: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 1rem;
    text-align: left;
}

.texts h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 4rem;
    text-align: left;
    margin: 0;
    padding-bottom: 4rem;
    padding-left: 1rem;
    max-width: 40vw;
    color: #CBBAA1;
}

.pageText {
    max-width: 40vw;
    text-align: left;
}

.texts p {
    padding-bottom: 2rem;
    padding-left: 4rem;
    color: #ffffff;
    line-height: 150%;
    text-align: left;
}

.texts ul {
    color: #CBBAA1;
    text-decoration: none;
    padding-left: 25%;
    list-style: none;
    /* Remove default list styling */
}

.linksList li {
    margin-bottom: 2rem;
    /* Add space between list items */
}

.subLink {
    color: #CBBAA1;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 1rem;
    text-decoration: underline;
}

.formWrapper {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

@media (max-width: 900px) {

    .texts h1 {
        max-width: 90vw;
        font-size: 2.5rem;
        padding-bottom: 2rem;
    }

    .pageText {
        max-width: 90vw;
    }

    .formWrapper {
        justify-content:center;
    }

    .texts p {
        padding-bottom: 0;
    }
}